
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  margin: 0;
  min-width: 320px;
  background: url(../img/map-and-compass.jpg) 77% 0 no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.body,
.input,
.button {
  color: #373d50;
  font-family: 'Nunito', arial, sans-serif;
}

.container {
  padding-top: 27px;
}

.message {
  position: absolute;
  top: 0;
  width: 100%;
  height: 22px;
  font-size: 16px;
  background: #ffecec;
  border-bottom: 1px solid #e0b27d;
  padding: 2px 0 0 11px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.15);
}

.mainHeadline {
  font-weight: 300;
  letter-spacing: .5px;
  margin: 0 auto 8px;
  width: 266px;
  text-align: center;
  font-size: 21px;
}

.mainHeadline,
.descriptionButton,
.qualityOfLifeHeadline,
.toggleTriangle,
.categoryName,
.ratingVal,
.footerText {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
}

.inputUnderline,
.input,
.inputUnderline {
  -webkit-box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.22);
}

/*******************************************************
FORMS
*******************************************************/
.forms {
  padding-bottom: 10px;
}

.form {
  padding: 0 10px;
}

.inputContainer {
  max-width: 455px;
  margin: 0 auto 15px;
}

.input {
  display: block;
  height: 40px;
  font-size: 18px;
  text-align: center;
  outline: none;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: #fff;
  font-weight: 600;
  border-radius: 4px;
}

.input-error {
  border: 2px solid rgba(255, 78, 78, 0.72);
}

.searchIcon {
  display: block;
  fill: #7d7d7d;
  position: absolute;
  margin: 9px 7px;
  width: 15px;
}

.button {
  display: block;
  position: relative;
  height: 39px;
  width: 120px;
  margin: 0 auto 8px;
  cursor: pointer;
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.26);
          box-shadow: 1px 2px 3px rgba(0,0,0,.26);
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.06em;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
  outline: none;
}

.button-addCity {
  background: #a3a7b2;
}

.button-addCity:hover {
  background: #9095a2;
}

.button-remove {
  background: #b5b7c0;
}

.button-remove:hover {
  background: #a1a4af;
}

.button-addCity:active {
  background-color: #9094a2;
  top: 1px;
}

.button-remove:active {
  background: #b5b7c0;
  top: 1px;
}


/*******************************************************
DESCRIPTION
*******************************************************/
.descriptionContainer {
  position: relative;
  margin-bottom: 15px;
}

.descriptionButton,
.cityDescription {
  font-size: 18px;
  line-height: 26px;
}

.descriptionButton {
  display: inline-block;
  padding-right: 15px;
  cursor: pointer;
  height: 31px;
}

.descriptionRemoveCityButton {
  position: absolute;
  top: 4px;
  right: 0px;
  background: #a3a7b2;
  border-radius: 17px;
  height: 22px;
  width: 22px;
  text-align: center;
  font-size: 25px;
  line-height: 16px;
  color: #fff;
  cursor: pointer;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.26);
          box-shadow: 1px 2px 3px rgba(0,0,0,.26);
}

/* p tag comes to us from the server so must target using child selector */
.cityDescription p {
  margin: 0;
}

.descriptionUnderline {
  margin-bottom: 10px;
  border-bottom: 5px solid #afafaf;
  -webkit-box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.22);
}

.toggleTriangle {
  display: inline-block;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  position: relative;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  font-size: 21px;
  top: 1px;
}

.toggleTriangle-down {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 5px;
  top: -1px;
}

/*******************************************************
QUALITY OF LIFE DATA DISPLAY
*******************************************************/
.qualityOfLifeData {
  margin-bottom: 25px;
}

.qualityOfLifeContainer {
  margin: 0 auto 10px;
}

.qualityOfLifeHeadlineContainer {
  margin-bottom: 10px;
  cursor: pointer;
}

.qualityOfLifeHeadline,
.qualityOfLifeHeadlineDesc {
  font-size: 18px;
  line-height: 26px;
}

.qualityOfLifeHeadline {
  display: inline-block;
  margin: 0 0 6px;
  font-weight: 600;
}

.category {
  margin-bottom: 5px;
  font-size: 0;
}

.categoryName {
  margin: 0 0 5px;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.05px;
}

.categoriesCityName {
  font-size: 14px;
  margin-bottom: 3px;
}

.rating {
  margin-bottom: 5px;
}

.ratingBar-outer {
  font-size: 14px;
  display: inline-block;
  width: calc(100% - 45px);
  height: 27px;
  -webkit-box-shadow: inset 0px 0px 10px 1px rgba(14, 0, 0, 0.26),
                      0px 1px 2px 0px rgba(0, 0, 0, 0.16),
                      0px 2px 4px 0px rgba(0, 0, 0, .15);
  box-shadow: inset 0px 0px 10px 1px rgba(14, 0, 0, 0.26),
              0px 1px 2px 0px rgba(0, 0, 0, 0.16),
              0px 2px 4px 0px rgba(0, 0, 0, .15);
  border-radius: 15px;
  overflow: hidden;
  background: rgba(255, 251, 242, 0.32);
}

.ratingBar-inner {
  height: 103%;
  position: relative;
  -webkit-box-shadow: inset 0px -1px 10px 2px rgba(0, 0, 0, 0.22);
          box-shadow: inset 0px -1px 10px 2px rgba(0, 0, 0, 0.22);
  border-radius: 15px;
}

[data-categoryColorIndex="0"] {
  background: #1695a2;
}

[data-citynamecolorindex="0"] {
  border-bottom: 5px solid #1695a2;
}

[data-categoryColorIndex="1"] {
  background: #FFD700;
}

[data-citynamecolorindex="1"] {
  border-bottom: 5px solid #FFD700;
}

[data-categoryColorIndex="2"] {
  background: #ffa500;
}

[data-citynamecolorindex="2"] {
  border-bottom: 5px solid #ffa500;
}

[data-categoryColorIndex="3"] {
  background: #f32727;
}

[data-citynamecolorindex="3"] {
  border-bottom: 5px solid #f32727;
}

[data-categoryColorIndex="4"] {
  background: #ee82ee;
}

[data-citynamecolorindex="4"] {
  border-bottom: 5px solid #ee82ee;
}

[data-categoryColorIndex="5"] {
  background: #4b0082;
}

[data-citynamecolorindex="5"] {
  border-bottom: 5px solid #4b0082;
}

[data-categoryColorIndex="6"] {
  background: #183ae4;
}

[data-citynamecolorindex="6"] {
  border-bottom: 5px solid #183ae4;
}


.ratingVal {
  display: inline-block;
  width: 45px;
  padding-left: 10px;
  font-size: 16px;
  position: relative;
  top: -8px;
}

/***********************************************
FOOTER
/***********************************************/
.footer {
  text-align: center;
  padding: 18px 0 25px;
}

.footerLink,
.footerLink:visited {
  color: #00a9ff;
}

/***********************************************
UTILITY CLASSES
/***********************************************/
.hide {
  display: none;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/***********************************************
MEDIA QUERIES
/***********************************************/
@media (min-width:426px) {
  .mainHeadline {
    width: auto;
  }

  .inputContainer {
    margin: 0 auto 20px;
    position: relative;
  }

  .input {
    font-size: 18px;
  }

  .searchIcon {
    display: block;
    fill: #8c8c8c;
    position: absolute;
    margin: 8px 9px 9px;
    height: 19px;
    width: 19px;
  }
}

@media (min-width:576px) {
  .input {
    height: 33px;
    font-size: 19px;
    letter-spacing: 0.5px;
  }

  .categoryName {
    font-size: 19px;
    margin-bottom: 9px;
  }

  .descriptions {
    margin-bottom: 15px;
  }

  .descriptionButton,
  .cityDescription {
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.05px;
  }

  .qualityOfLifeHeadline,
  .qualityOfLifeHeadlineDesc {
    line-height: 29px;
    letter-spacing: 0.5px;
  }

  .qualityOfLifeHeadline {
    font-size: 23px;
  }

  .qualityOfLifeHeadlineDesc {
    font-size: 20px;
  }

  .category {
    margin-bottom: 16px;
  }
}

@media (min-width: 768px) {
  .mainHeadline {
    margin: 0 0 15px;
  }

  .forms {
    margin-bottom: 15px;
  }

  .buttonRow {
    width: 271px;
    margin: 0 auto;
  }

  .descriptionContainer {
    margin-bottom: 20px;
  }

  .qualityOfLifeHeadlineContainer {
    margin-bottom: 7px;
  }

  .descriptions {
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) {
  .mainHeadline {
    font-size: 24px;
    margin: 0 0 36px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
