*,
*:before,
*:after {
  box-sizing: border-box;
}

.body {
  margin: 0;
  font-family: arial, sans-serif;
  color: #4f5158;
}

.hide {
  display: none;
}

.js-message {
  height: 18px;
}

/*******************************************************
FORMS
*******************************************************/
.forms {
  margin-bottom: 25px;
}

.input {
  display: block;
  height: 35px;
  font-size: 18px;
  text-align: center;
  outline: none;
  width: 100%;
  border: none;
  /*border-bottom: 3px solid #b7baca;*/
  color: #4f5158;
  background: none;
}

.inputUnderline {
  margin-bottom: 10px;
}

.inputUnderline0 {
  border-bottom: 5px solid #05cc05;
}

.inputUnderline1 {
  border-bottom: 5px solid #ecec36;
}

.button {
  display: block;
  margin: 0px auto 8px;
  outline: none;
  height: 43px;
  width: 100%;
  border: 1px solid #d7d8dc;
  background-color: #edeef1;
  border-radius: 29px;
  font-size: 14px;
  color: #4a4d54;
}

.button:active {
  border: 1px solid #b6b7b9;
  background-color: #d2d3d6;
}
/*******************************************************
DESCRIPTION
*******************************************************/
.descriptionButton {
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 18px;
  height: 31px;
}

[data-description-button="0"] {
  border-bottom: 5px solid #05cc05;
}

[data-description-button="1"] {
  border-bottom: 5px solid #ecec36;
}

.toggleTriangle {
  display: inline-block;
  transform: rotate(0deg);
  position: relative;
  transition: all .2s ease;
  font-size: 21px;
  left: -5px;
}

.toggleTriangle-down {
  transform: rotate(90deg);
  left: 0px;
  top: -2px;
}

/*******************************************************
QUALITY OF LIFE DATA DISPLAY
*******************************************************/
.qualityOfLifeData {
  margin-bottom: 25px;
}

.category {
  margin: 0 auto 10px;
  max-width: 477px;
  font-size: 0;
}

.categoryName {
  margin-bottom: 8px;
  font-size: 18px;
}

.rating {
  margin-bottom: 5px;
}

.ratingBar-outer {
  display: inline-block;
  width: calc(100% - 40px);
  max-width: 430px;
  height: 27px;
  box-shadow: inset 0px 0px 2px rgba(14, 0, 0, 0.77);
  border-radius: 15px;
  overflow: hidden;
}

.ratingBar-inner {
  height: 100%;
  /*box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.1);*/
  position: relative;
  z-index: -1;
}

[data-cityNum="0"] {
  background-color: #05cc05;
}

[data-cityNum="1"] {
  background-color: #ecec36;
}

.ratingVal {
  display: inline-block;
  width: 40px;
  padding-left: 10px;
  font-size: 16px;
  position: relative;
  top: -8px;
}

@media (min-width:576px) {
  .input {
    font-size: 23px;
  }
  .button {
    height: 50px;
    max-width: 242px;
  }
}

@media (min-width: 768px) {
  /**/
}

@media (min-width: 992px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 750px;
  }
}